@import "tailwindcss";

@theme {
    --font-title: 'EB Garamond', Garamond, Georgia, serif;
    --font-default: 'Inter', Arial, Helvetica, sans-serif;
    --font-code: Fira Code, Menlo, Monaco, 'Courier New', Courier, monospace;
}